<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ar-view"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ mythDetails?.name || 'Detalle del Mito' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"
        >{{ mythDetails?.name || 'Detalle del Mito' }}</ion-title
      >
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <h2>{{ mythDetails?.name }}</h2>
    <p>{{ mythDetails?.fullStory }}</p>
    <!-- Puedes añadir más elementos aquí: imágenes, audio, etc. -->
  </div>
</ion-content>
