<!-- /* 
NOMBRE: list-crud-evento.page.html
DESCRIPCIÓN: Plantilla HTML para el componente del CRUD, que permite listar todos los eventos con información básica: idCodEvento, Titulo, fechaCreacion.
DESARROLLADOR: Luis Mujica
FECHA: 2025-06-03
PROYECTO: BooApp
VERSION: 1.0.0  
*/ -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Página de CRUD de Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CRUD de Eventos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="!cargando && data && data.length > 0">
    <ion-card *ngFor="let item of data">
      <img
        *ngIf="item.imagen"
        [src]="'https://s3-uploadimages-booapp-bucket.s3.us-east-2.amazonaws.com/' + item.imagen"
        alt="Imagen del evento"
        class="card-img"
      />
      <ion-card-header>
        <ion-card-title class="small-title"
          >Código Evento: {{ item.idCodEvento }}</ion-card-title
        >
        <ion-card-subtitle class="small-subtitle"
          >Título Evento: {{ item.titulo }}</ion-card-subtitle
        >
      </ion-card-header>
      <!-- Si quieres agregar más información, usa ion-card-content -->
      <!--
      <ion-card-content>
        Aquí puedes agregar más detalles del evento.
      </ion-card-content>
      -->
    </ion-card>
  </ion-list>
  <div *ngIf="!cargando && data && data.length === 0">
    No hay datos para mostrar.
  </div>
  <div *ngIf="cargando" class="spinner-container">
    <ion-spinner name="bubbles"></ion-spinner>
    <div class="spinner-title">Cargando...</div>
  </div>
</ion-content>
